@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif
}

[data-nav]:focus {
    outline: none;
    /* transition: box-shadow 0.2s; */
    border-radius: 4px;
    
    box-shadow:
      0 0 0 3px black,    /* simulate the "gap" with page background color */
      0 0 0 5px white;    /* white border outside */
}
  